/* You can add additional CSS rules in custom.css. */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;800&display=swap');

.modulename {
    /* color: black; */
    color: #4A148C;
}

/* Images */
.pdoc img {
  max-width: 500px;
  max-height: 800px;
  width: 100%;
  object-fit: 100%;
}

.pdoc img[alt=nimage] { width: 350px; }

.pdoc img[alt=wimage] { max-width: 800px; }

/* Code */
.pdoc code {
    font-family: 'Source Code Pro', monospace !important;
    font-weight: 400;
    color: var(--text);
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: var(--accent);
    border-radius: 6px;
}

.pdoc .view-source-button {
    font-family: sans-serif;
}

.pdoc .docstring .pdoc-code {
    font-family: 'Source Code Pro', monospace !important;
    margin-left: 1em;
    margin-right: 1em;
}

.pdoc .pdoc-code pre {
    font-family: 'Source Code Pro', monospace !important;
    font-size: 80%;
    margin-left: 1em;
    margin-right: 1em;
}

.pdoc .name {
    font-weight: 800;
}

.pdoc .attr.function {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    /* font-size: 1.0rem; */
    font-size: 90%;
    display: block;
    margin: .5rem 0 .5rem;
    padding: .4rem .4rem .4rem 1rem;
    /* background-color: var(--accent); */
    background-color: #F5F5F5;
    overflow-x: auto;
}
.pdoc .attr:hover {
    /* background-color: #9b9898; */
    background-color: #E1BEE7;
}

.pdoc .def {
    font-weight: 600;
}

/* functions under API-Documentation */
.pdoc a.function {
    font-family: 'Source Code Pro', monospace !important;
    font-size: 80%;
    font-weight: 700;
}

/* .pdoc h1 { */
/*     font-weight: 600; */
/*     font-size: 2.0rem; */
/*     margin: .3em 0; */
/*     padding: .2em 0; */
/*     color: purple; */
/* } */

/* .pdoc h2 { */
/*     font-weight: 500; */
/*     font-size: 1.4rem; */
/*     margin: .3em 0; */
/*     padding: .2em 0; */
/*     color: black; */
/* } */

/* .pdoc h3 { */
/*     font-weight: 400; */
/*     font-size: 1.3rem; */
/*     margin: .3em 0; */
/*     padding: .2em 0; */
/* } */

/* .pdoc > section:not(.module-info) h1 { */
/*     font-size: 1.5rem; */
/*     font-weight: 500; */
/* } */
/* .pdoc > section:not(.module-info) h2 { */
/*     font-size: 1.0rem; */
/*     font-weight: 400; */
/*     /1* color: #78909C; *1/ */
/* } */
/* .pdoc > section:not(.module-info) h3 { */
/*     font-size: 1.3rem; */
/*     font-weight: 500; */
/* } */
/* .pdoc > section:not(.module-info) h4 { */
/*     font-size: 1.2rem; */
/* } */
/* .pdoc > section:not(.module-info) h5 { */
/*     font-size: 1.1rem; */
/* } */


/* Nav */
nav.pdoc {
    --pad: clamp(0.5rem, 2vw, 1.75rem);
    --indent: 1.5rem;
    /* background-color: var(--accent); */
    background-color: #FFFFFF;
    border-right: 1px solid var(--accent2);
    box-shadow: 0 0 0px rgba(50, 50, 50, .2) inset;
    padding: 0 0 0 var(--pad);
    overflow-wrap: anywhere;
}

nav.pdoc input[type=search] {
 display:block;
 outline-offset:0;
 width:calc(100% - var(--pad));
 border: none;
}

.pdoc .pdoc-button {
    border: none;
}

/* pdoc attribution */
/* note: removing the logo in module.html.jinja2 */
.pdoc .attribution {
    font-size: 80%;
}
