/* :root { */
/*     --pdoc-background: #212529; */
/* } */

.pdoc {
    /* --text: #f7f7f7; */
    /* --muted: #9d9d9d; */
    /* --link: #58a6ff; */
    /* --link-hover: #3989ff; */
    /* --code: #333; */
    --active: #F3E5F5;

    --accent: #e0e0e0;
    /* --accent2: #555; */

    /* --nav-hover: rgba(0, 0, 0, 0.1); */
    --name: purple;
    /* --def: #5C6BC0; */
    /* --annotation: #00c037; */
}


/* overwrite the linenumber settings that come as standard with pygments */
pre { line-height: 125%; }
td.linenos .normal { color: #CFD8DC; background-color: transparent; padding-left: 5px; padding-right: 20px; }
span.linenos { color: #CFD8DC; background-color: transparent; padding-left: 5px; padding-right: 20px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
